@model Mikencoderx.Models.Coleccion
@{
    Layout = "_Layout";
    ViewData["Title"] = "Pagina de inicio";
}


<div class="container-fluid"
        style="height: 100vh;">

        <div class="row justify-content-center align-items-center imagen" 
            style="height: 100%; background-image: url(img/03.jpg);">
                <div class="col-auto text-center text-light">
                    <h6>
                        Comunidad estudiantil UPQROO
                    </h6>
                    <h1>
                        Bienvenido a Mikencoderx
                    </h1>
                </div>
            </div>

        <div id="seccion1">
        </div>

        <div class="container-fluid">
            <div class="row justify-content-center align-items-center" 
            style="min-height: 100vh;" id="imagen_1">

            <div class="col-md-7">
                <div class="texto text-center">
                    <h6>
                        - Sobre nosotros
                    </h6>
                    <h1>
                        Realizamos páginas web para gente creativa
                        que buscan aprovechar las tecnologías actuales
                    </h1>
                </div>
            </div>

            </div>
        </div>

        <div id="seccion2">
        </div>

        <div id="imagen_2" class="overflow-hidden w-100 container-fluid">
            <div class="row justify-content-center align-items-center p-5">
                <div class="col-md-7 text-center">
                    <h6>
                        - Sobre nosotros
                    </h6>
                    <h1>
                        Nuestros servicios
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center align-items-center p-5">
                <div class="col-md-5 text-center">
                    <div class="fondo bg-danger"
                    style="width: 100%; height: 20rem; background-image: url(img/targetta.jpg);">
                    </div>
                    <h5 class="p-2">
                        Tarjeta web</h5>
                </div>
                <div class="col-md-5 text-center">
                    <div class="fondo bg-danger"
                    style="height: 20rem; background-image: url(img/menu.jfif);">
                    </div>
                    <h5 class="p-2">
                        Menu web</h5>
                </div>  
            </div>
        </div>

        <div id="seccion3">
        </div>

        <div id="imagen_3" class="overflow-hidden w-100 container-fluid">
            <div class="row justify-content-center align-items-center p-5">
                <div class="col-md-7 text-center">
                    <h6>
                        - Nuestra comunidad
                    </h6>
                    <h1>
                        Nuestros Programadores
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center align-items-center p-5">
        @if (Model.Programadores.Count() > 0)
        {

            @foreach (var item in Model.Programadores)
            {
                <div class="col-md-5 text-center">
                    <div class="overflow-hidden fondo bg-black d-flex flex-column
                    justify-content-end"
                    style="width: 100%; height: 20rem; background-image: url(@item.URLFoto);">
                        <div class="cuadro bg-black bg-opacity-75 text-light p-1">
                            <h6>
                                @item.Descrpcion
                            </h6>
                        </div>
                    </div>
                    <h5 class="p-2">
                    @item.Nombre
                    </h5>
                </div>
            }
        }
        else
        {
                        <h1>
                            No hay programadores
                        </h1>
        }
            </div>
        </div>

        <div id="seccion4">
        </div>

        <div id="imagen_4" class="overflow-hidden w-100 container-fluid">
            <div class="row justify-content-center align-items-center p-5">
                <div class="col-md-7 text-center">
                    <h6>
                        - Nuestras tecnologias
                    </h6>
                    <h1>
                        Nuestros conocimientos
                    </h1>
                </div>
            </div>

            <div class="row justify-content-center align-items-center p-5">
        @if (Model.tecnologias.Count() > 0)
        {

            @foreach (var item in Model.tecnologias)
            {
            <div class="col-md-5 text-center">
                <div class="overflow-hidden fondo bg-black d-flex flex-column
                justify-content-end"
                style="width: 100%; height: 20rem; background-image: url(@item.URLFoto);">
                </div>
                <h5 class="p-2">
                    @item.Nombre
                </h5>
            </div>
            }
        }
        else
        {
                                <h1 class="text-center">
                                    No hay Tecnologías
                                </h1>
        }
            </div>
        </div>

        <div id="seccion5">
        </div>

        <div id="imagen_5" class="overflow-hidden w-100 container-fluid">
            <div class="row justify-content-center align-items-center p-5">
                <div class="col-md-7 text-center">
                    <h6>
                        - Contáctanos
                    </h6>
                    <h1>
                        Lineas de contacto
                    </h1>
                </div>
            </div>
            <div class="row justify-content-center align-items-center p-5">
                <a href="https://api.whatsapp.com/send?phone=9984173575" class="col-md-5 text-center">
                    <div class="overflow-hidden fondo bg-primary d-flex flex-column
                    justify-content-end"
                    style="width: 100%; height: 20rem; background-image: url(img/whatsapp.jfif);">
                    </div>
                    <h5 class="p-2">
                    Whatsapp</h5>
                </a>
                <a href="mailto:mikencoderx@gmail.com" class="col-md-5 text-center">
                    <div class="overflow-hidden fondo bg-primary d-flex flex-column
                    justify-content-end"
                    style="width: 100%; height: 20rem; background-image: url(img/correo.jfif);">
                    </div>
                    <h5 class="p-2">
                        mikencoderx@gmail.com</h5>
                </a>
            </div>
        </div>
        <div class="ratio ratio-21x9 container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119056.84530002167!2d-87.10501916654796!3d21.17123720149992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8870aff956f2fb21%3A0xcf7df4e92eb69275!2sMikencoderx!5e0!3m2!1ses!2smx!4v1670289799686!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
          

         <script>
        var texto ="eyes"
        var a=document.getElementById(texto);
        var b=document.getElementById(texto+"-b");
        var c=document.getElementById(texto+"-a");

        a.classList.add("bg-primary");
        b.classList.remove("text-secondary");
        c.classList.remove("p-1")
    </script>







@*<div class="container-fluid h-xl d-flex flex-column justify-content-end justify-content-lg-center pb-5">
        <div class="row w-100 text-center">
            <div class="col-12 col-sm-12 col-lg-4 text-start text-lg-end">
                <h1 class="text-light titulo">Hi</h1>
            </div>
            <div class="col-sm-1 col-3 col-lg-1 row justify-content-center">
                <div class="col-2 bg-morado">
                </div>
            </div>
            <div class="fondo col-9 col-sm-6 col-lg-5 text-light text-start alig    n-self-center">
                <h1 class="text-w-100"> 
                    Somos 
                    <p class="d-inline text-amarillo">
                    Mikencoderx</p>
                    Desarrolladores web
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-0">
            </div>
            <div class="col-10 col-sm-6 col-lg-2 pt-2 text-start text-lg-end">
                <a class="w-100 btn btn-dark rounded-4 boton">
                    <h4>Contacto</h4>
                </a>
            </div>
        </div>
    </div>

    @if (Model.Count() > 0){
            <div class="container-fluid h-xl">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-light p-5">
                            Nuestros Programadores
                        </h1>
                    </div>
        @foreach (var item in Model){
                    <div class="col-2">
                        <div class="imagen bg-danger imagen animation" 
                        style="height: 20rem; background-image: url( @Html.DisplayFor(x=>item.URLFoto));">
                        </div>
                        <h3 class="text-light">
                                @Html.DisplayFor(x=>item.Nombre)
                        </h3>
                                <h6 class="text-light">
                        @Html.DisplayFor(x=>item.Descrpcion)
                                </h6>
                    </div>
        }
                </div>
            </div>
    }else{
        <div class="container-fluid h-xl">
            <div class="row">
                <div class="col-12">
                    <div class="text-light p-5">
                        No hay programadores
                    </div>
                </div>
            </div>
        </div>
    }
    
*@