@inject IHttpContextAccessor _Acess
@model IEnumerable<Mikencoderx.Models.Proyectos>
@{
    Layout = "_Lateral";
    ViewData["Title"] = "Proyectos";
}
    <div class="container ps-5 pt-5">
        <div class="row justify-content-between mt-5 mb-5">
            <div class="col-auto">
                <h1>
                @ViewData["Title"]
                </h1>
            </div>
            <div class="col-auto">
                <a asp-area="" asp-controller="Proyectos" asp-action="Crear"
                    class="btn btn-outline-morado animate h1">
                    + Agregar
                </a>
            </div>
         @if (@ViewBag.sms != null)
        {
                        <div class="alert alert-danger p-2">
                @ViewBag.sms
                        </div>
        }
        </div>
        <div class="tabla">
            <table class="table tabla-cont">
                @if (Model.Count() > 0)
                {
                    <thead class="table-secondary table text-secondary">
                                <tr>
                                    <td>
                                       <h5>
                                @Html.DisplayNameFor(x=> x.Nombre)
                                       </h5>
                                    </td>
                                    <td>
                                        <h5>
                                @Html.DisplayNameFor(x=> x.Estado)
                                        </h5>
                                     </td>
                                     <td>
                                         <h5>
                                @Html.DisplayNameFor(x=> x.URLWeb)
                                         </h5>
                                     </td>
                                     <td>
                                         <h5>
                                @Html.DisplayNameFor(x=> x.URLMaster)
                                         </h5>
                                     </td>
                                     <td>
                                        <h5>Acciones</h5>
                                     </td>

                                </tr>
                            </thead>
                    <tbody>
                        @foreach ( var item in Model)
                        {
                            <tr>
                                <td>
                                    <h5>
                                    @Html.DisplayFor(x=> item.Nombre)
                                    </h5>
                                </td>
                                <td>
                                      @if(item.Estado){
                                         <h5 class="text-success">Activo</h5>
                                      }else{
                                         <h5 class="text-danger">Inactivo</h5>
                                      }
                                </td>
                                <td>
                                    <h5>
                                        <a class="text-secondary link link-dark text-decoration-none"
                                            href="@Html.DisplayFor(x=> item.URLWeb)">
                                            Ver pagina
                                        </a>
                                    </h5>
                                </td>
                                <td>
                                    <h5>
                                        <a class="text-secondary link link-dark text-decoration-none"
                                    href="@Html.DisplayFor(x=> item.URLMaster)">
                                            Ver Repositorio
                                        </a>
                                    </h5>
                                </td>
                                <td>
                                    <a asp-action="Editar" asp-route-id=@item.PkProyecto class="btn btn-primary m1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                        </svg>
                                        Editar
                                    </a>
                                </td>
                            </tr>
                        }
                     </tbody>                
            }
            else
            {
                    <thead class="table-secondary table text-secondary">
                        <tr>
                            <td>
                                <h5>
                                    No hay @ViewData["Title"]
                                </h5>
                            </td>
                        </tr>
                    </thead>
            }
            </table>
        </div>

    </div>